/*
    LessHeady : collection of useful less mixins
    Usage : just include this file inside you less stylesheet via @import 'lessheady/loader';
*/
/**
    CSS Box
 */
/**
    CSS Box flex
 */
/**
* Inline-block
*
* Workaround to make the element behave as inline-block
*
* @type Mixin
*/
/**
 * CSS3 Multi column layout
 * @see http://www.css3.info/preview/multi-column-layout/
 */
/**
    Columns count + gap
 */
/**
 * Rotate an element 90, 180 or 270 degrees
 */
/**
 * Gradients are smooth transitions between two or more specified colors.
 * Use of CSS gradients can replace images and reduce download time, create a more flexible layout, and look better while zooming.
 * Mozilla (Firefox) supports two kinds of CSS gradients: linear and radial.
 * @see https://developer.mozilla.org/en/CSS/-moz-linear-gradient
 */
/**
    Box shortcut
 */
/**
    3D Text
*/
/**
    3D box
*/
/**
 * Adds an ellipsis or clips the text 
 * Options are "ellipsis" or "clip"
 * @see http://www.css3.info/preview/text-overflow/
 */
/**
    Columns count
 */
/**
    Columns gap
 */
/**
 * Easier way to use css transform
 */
/**
 * Easier way to use css transition
 */
/**
 * Specify the size of the background image in pixels or percentage.
 * Firefox 3.6+ can also have values of cover or contain
 * @see https://developer.mozilla.org/en/CSS/-moz-background-size
 */
/*
    CSS resize
*/
/**
 * Specify whether an element's background, either the color or image, extends underneath its border.
 * Firefox 3.6+ can also have values of cover or contain
 * @see https://developer.mozilla.org/fr/CSS/-moz-background-clip
 */
/**
* Opacity
*
* Takes a number from 0 to 1.

*/
/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
/* Clearing floats without extra markup
   Based on How To Clear Floats Without Structural Markup by PiE
   [http://www.positioniseverything.net/easyclearing.html] */
/* Success, info, notice and error/alert boxes
-------------------------------------------------------------- */
.error {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #ddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
.error a {
  color: #8a1f11;
}
.notice {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #ddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
.notice a {
  color: #514721;
}
.success {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #ddd;
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
.success a {
  color: #264409;
}
.info {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #ddd;
  background: #d5edf8;
  color: #205791;
  border-color: #92cae4;
}
.info a {
  color: #205791;
}
/** 
 * Incremental Leading 
 *
 * Every 4 lines of normal type, there are 5 lines of
 * smaller type 
 */
/**
 * Resets the type back to normal
 */
/* Surround uppercase words and abbreviations with this class.
Based on work by Jørgen Arnor Gårdsø Lom [http://twistedintellect.com/] */
/* Give this to links you want to show more information */
/* Drop Cap */
/* For some nice Ampersands */
.container {
  padding-left: 20px;
  padding-right: 20px;
}
.container img, .container object, .container embed {
  max-width: 100%;
}
.container img {
  height: auto;
}
.row {
  width: 100%;
  max-width: 1140px;
  min-width: 755px;
  margin: 0 auto;
  overflow: hidden;
}
.row .col1,
.row .twocol,
.row .threecol,
.row .fourcol,
.row .fivecol,
.row .sixcol,
.row .sevencol,
.row .eightcol,
.row .ninecol,
.row .tencol,
.row .elevencol {
  margin-right: 3.8%;
  float: left;
  min-height: 1px;
}
.row .col1.last,
.row .twocol.last,
.row .threecol.last,
.row .fourcol.last,
.row .fivecol.last,
.row .sixcol.last,
.row .sevencol.last,
.row .eightcol.last,
.row .ninecol.last,
.row .tencol.last,
.row .elevencol.last {
  margin-right: 0px;
}
.row .col1 {
  width: 4.85%;
}
.row .twocol {
  width: 13.45%;
}
.row .threecol {
  width: 22.05%;
}
.row .fourcol {
  width: 30.75%;
}
.row .fivecol {
  width: 39.45%;
}
.row .sixcol {
  width: 48%;
}
.row .sevencol {
  width: 56.75%;
}
.row .eightcol {
  width: 65.4%;
}
.row .ninecol {
  width: 74.05%;
}
.row .tencol {
  width: 82.7%;
}
.row .elevencol {
  width: 91.35%;
}
.row .twelvecol {
  width: 100%;
  float: left;
}
.onecol {
  max-width: @var1;
}
.fivecol {
  margin-right: 3.8%;
  float: left;
  min-height: 1px;
}
.twocol {
  margin-right: 3.8%;
  float: left;
  min-height: 1px;
}
.threecol {
  margin-right: 3.8%;
  float: left;
  min-height: 1px;
}
.fourcol {
  margin-right: 3.8%;
  float: left;
  min-height: 1px;
}
.fivecol {
  margin-right: 3.8%;
  float: left;
  min-height: 1px;
}
.sixcol {
  margin-right: 3.8%;
  float: left;
  min-height: 1px;
}
.sevencol {
  margin-right: 3.8%;
  float: left;
  min-height: 1px;
}
.eightcol {
  margin-right: 3.8%;
  float: left;
  min-height: 1px;
}
.elevencol {
  margin-right: 3.8%;
  float: left;
  min-height: 1px;
}
/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */
/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */
@media handheld, only screen and (max-width: 767px) {
  
}
/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /*	.logo {
  		background: url(logo2x.jpg) no-repeat;
  		background-size: 212px 303px;
  	}*/
}
