/**
 * This defines the layout. It creates mixins and constants we
 * can use, as well as generating a png to use as a grid overlay
 */
/*
    LessHeady : collection of useful less mixins
    Usage : just include this file inside you less stylesheet via @import 'lessheady/loader';
*/
/**
    CSS Box
 */
/**
    CSS Box flex
 */
/**
* Inline-block
*
* Workaround to make the element behave as inline-block
*
* @type Mixin
*/
/**
 * CSS3 Multi column layout
 * @see http://www.css3.info/preview/multi-column-layout/
 */
/**
    Columns count + gap
 */
/**
 * Rotate an element 90, 180 or 270 degrees
 */
/**
 * Gradients are smooth transitions between two or more specified colors.
 * Use of CSS gradients can replace images and reduce download time, create a more flexible layout, and look better while zooming.
 * Mozilla (Firefox) supports two kinds of CSS gradients: linear and radial.
 * @see https://developer.mozilla.org/en/CSS/-moz-linear-gradient
 */
/**
    Box shortcut
 */
/**
    3D Text
*/
/**
    3D box
*/
/**
 * Adds an ellipsis or clips the text 
 * Options are "ellipsis" or "clip"
 * @see http://www.css3.info/preview/text-overflow/
 */
/**
    Columns count
 */
/**
    Columns gap
 */
/**
 * Easier way to use css transform
 */
/**
 * Easier way to use css transition
 */
/**
 * Specify the size of the background image in pixels or percentage.
 * Firefox 3.6+ can also have values of cover or contain
 * @see https://developer.mozilla.org/en/CSS/-moz-background-size
 */
/*
    CSS resize
*/
/**
 * Specify whether an element's background, either the color or image, extends underneath its border.
 * Firefox 3.6+ can also have values of cover or contain
 * @see https://developer.mozilla.org/fr/CSS/-moz-background-clip
 */
/**
* Opacity
*
* Takes a number from 0 to 1.

*/
/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
/* Micro clearfix by Nicolas Gallagher */
/* Success, info, notice and error/alert boxes
-------------------------------------------------------------- */
.error {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #ddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
.error a {
  color: #8a1f11;
}
.notice {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #ddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
.notice a {
  color: #514721;
}
.success {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #ddd;
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
.success a {
  color: #264409;
}
.info {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #ddd;
  background: #d5edf8;
  color: #205791;
  border-color: #92cae4;
}
.info a {
  color: #205791;
}
/** 
 * Incremental Leading 
 *
 * Every 4 lines of normal type, there are 5 lines of
 * smaller type 
 */
/**
 * Resets the type back to normal
 */
/* Surround uppercase words and abbreviations with this class.
Based on work by Jørgen Arnor Gårdsø Lom [http://twistedintellect.com/] */
/* Give this to links you want to show more information */
/* Drop Cap */
/* For some nice Ampersands */
body {
  background: transparent url("http://griddle.it/580-6-20") repeat-y top center !important;
  font-size: 11px;
  padding: 20px 0 40px 0;
}
form {
  /*
        Adaptation of Formalize by Nathan Smith
        Make things more uniform. Dress up your forms.
        http://host.sonspring.com/formalize/

        Don't forget to use the javascript files that can be found here : http://github.com/nathansmith/formalize/

    */

  /* `Widths
    ----------------------------------------------------------------------------------------------------*/

  /*
      Added via JS to <textarea> and class="input_full".
      Applies only to IE7. Other browsers don't need it.
    */

  /* `UI Consistency
    ----------------------------------------------------------------------------------------------------*/

  /*
      Separate rule for Firefox.
      Cannot stack with WebKit's.
    */

}
form .input_tiny {
  width: 50px;
}
form .input_small {
  width: 100px;
}
form .input_medium {
  width: 150px;
}
form .input_large {
  width: 200px;
}
form .input_xlarge {
  width: 250px;
}
form .input_xxlarge {
  width: 300px;
}
form .input_full {
  width: 100%;
}
form .input_full_wrap {
  display: block;
  padding-right: 8px;
}
form ::-moz-focus-inner {
  border: 0;
  padding: 0;
}
form input[type="search"]::-webkit-search-decoration {
  display: none;
}
form input,
form button,
form select,
form textarea {
  margin: 0;
  vertical-align: middle;
}
form button,
form input[type="reset"],
form input[type="submit"],
form input[type="button"] {
  -webkit-appearance: none;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;
  -o-background-clip: padding;
  -webkit-background-clip: padding;
  -khtml-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding;
  background: #ddd;
  background: #eeeeee;
  background-image: -moz-linear-gradient(top, #ffffff, #dddddd);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dddddd));
  background-image: -webkit-linear-gradient(top, #ffffff, #dddddd);
  background-image: -o-linear-gradient(top, #ffffff, #dddddd);
  background-image: linear-gradient(top, #ffffff, #dddddd);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#dddddd)";
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#dddddd)";
  background-image: -ms-linear-gradient(top, #dddddd, #dddddd);
  border: 1px solid;
  border-color: #ddd #bbb #999;
  cursor: pointer;
  color: #333;
  font: bold 12px/1.2 Arial, sans-serif;
  outline: 0;
  overflow: visible;
  padding: 3px 10px 4px;
  text-shadow: #fff 0 1px 1px;
  width: auto;
}
form button:hover,
form input[type="reset"]:hover,
form input[type="submit"]:hover,
form input[type="button"]:hover {
  background: #b3d1ff;
  background-image: -moz-linear-gradient(top, #e5f0ff, #80b3ff);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e5f0ff), to(#80b3ff));
  background-image: -webkit-linear-gradient(top, #e5f0ff, #80b3ff);
  background-image: -o-linear-gradient(top, #e5f0ff, #80b3ff);
  background-image: linear-gradient(top, #e5f0ff, #80b3ff);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#e5f0ff, endColorstr=#80b3ff)";
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#e5f0ff, endColorstr=#80b3ff)";
  background-image: -ms-linear-gradient(top, #80b3ff, #80b3ff);
  border-color: #99c2ff #66a3ff #3385ff;
}
form button:focus,
form input[type="reset"]:focus,
form input[type="submit"]:focus,
form input[type="button"]:focus,
form button:active,
form input[type="reset"]:active,
form input[type="submit"]:active,
form input[type="button"]:active {
  background: #80b3ff;
  background-image: -moz-linear-gradient(top, #b3d1ff, #4d94ff);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b3d1ff), to(#4d94ff));
  background-image: -webkit-linear-gradient(top, #b3d1ff, #4d94ff);
  background-image: -o-linear-gradient(top, #b3d1ff, #4d94ff);
  background-image: linear-gradient(top, #b3d1ff, #4d94ff);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#b3d1ff, endColorstr=#4d94ff)";
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#b3d1ff, endColorstr=#4d94ff)";
  background-image: -ms-linear-gradient(top, #4d94ff, #4d94ff);
  border-color: #66a3ff #3385ff #0066ff;
}
form textarea,
form select,
form input[type="date"],
form input[type="datetime"],
form input[type="datetime-local"],
form input[type="email"],
form input[type="month"],
form input[type="number"],
form input[type="password"],
form input[type="search"],
form input[type="tel"],
form input[type="text"],
form input[type="time"],
form input[type="url"],
form input[type="week"] {
  -webkit-appearance: none;
  -webkit-border-sizing: border-box;
  -moz-border-sizing: border-box;
  border-sizing: border-box;
  -o-background-clip: padding;
  -webkit-background-clip: padding;
  -khtml-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding;
  background-color: #fff;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: #000;
  outline: 0;
  padding: 2px 3px;
  font-family: Arial, sans-serif;
}
form input.placeholder_text,
form textarea.placeholder_text,
form input:-moz-placeholder,
form textarea:-moz-placeholder {
  color: #888;
}
form ::-webkit-input-placeholder {
  color: #888;
}
form button:focus,
form input:focus,
form select:focus,
form textarea:focus,
form button:active,
form input:active,
form select:active,
form textarea:active {
  -moz-box-shadow: #0066ff 0 0 7px;
  -webkit-box-shadow: #0066ff 0 0 7px;
  box-shadow: #0066ff 0 0 7px;
  background-color: #cce0ff;
  color: #003380;
  /* for Opera */

  z-index: 1;
}
form input[type="file"]:focus,
form input[type="radio"]:focus,
form input[type="checkbox"]:focus,
form input[type="file"]:active,
form input[type="radio"]:active,
form input[type="checkbox"]:active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
form select[disabled],
form textarea[disabled],
form input[type="date"][disabled],
form input[type="datetime"][disabled],
form input[type="datetime-local"][disabled],
form input[type="email"][disabled],
form input[type="month"][disabled],
form input[type="number"][disabled],
form input[type="password"][disabled],
form input[type="search"][disabled],
form input[type="tel"][disabled],
form input[type="text"][disabled],
form input[type="time"][disabled],
form input[type="url"][disabled],
form input[type="week"][disabled] {
  background-color: #eee;
}
form button[disabled],
form input[disabled],
form select[disabled],
form select[disabled] option,
form select[disabled] optgroup,
form textarea[disabled] {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: #888;
  cursor: default;
}
form textarea, form select[size], form select[multiple] {
  height: auto;
}
form textarea {
  min-height: 40px;
  overflow: auto;
  resize: vertical;
  width: 100%;
}
form optgroup {
  color: #000;
  font-style: normal;
  font-weight: normal;
}
a {
  color: #295f78;
  text-decoration: none;
}
a :hover {
  text-decoration: underline;
}
h2 {
  padding: 20px 0 0;
  text-align: center;
}
#wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  /* For modern browsers */

  /* For IE 6/7 (trigger hasLayout) */

  zoom: 1;
  background: #ffad4d;
  background-image: -moz-linear-gradient(top, #ff8a00, #ffd099);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff8a00), to(#ffd099));
  background-image: -webkit-linear-gradient(top, #ff8a00, #ffd099);
  background-image: -o-linear-gradient(top, #ff8a00, #ffd099);
  background-image: linear-gradient(top, #ff8a00, #ffd099);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff8a00, endColorstr=#ffd099)";
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff8a00, endColorstr=#ffd099)";
  background-image: -ms-linear-gradient(top, #ffd099, #ffd099);
  margin-bottom: 20px;
}
#wrapper:before, #wrapper:after {
  content: "";
  display: table;
}
#wrapper:after {
  clear: both;
}
#wrapper h1 {
  font-size: 5em;
  font-weight: normal;
  text-align: center;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 0px #995300, 1.5px 1.5px 0px #9e5600, 2px 2px 0px #a35800, 2.5px 2.5px 0px #a85b00, 3px 3px 0px #ad5e00, 3.5px 3.5px 0px #b36100, 4px 4px 0px #b86300, 4.5px 4.5px 0px #bd6600, 5px 5px 0px #c26900, 5.5px 5.5px 0px #c76c00, 6px 6px 0px #cc6e00;
}
#wrapper p {
  border: 1px solid #666;
  overflow: hidden;
  padding: 10px 0;
  text-align: center;
  background-color: #c8c8c8;
  margin: 5px 0;
}
#wrapper .grid_3 {
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  width: 260px;
}
#wrapper .grid_6 {
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  width: 560px;
}
#wrapper .grid_12 {
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  width: 1160px;
}
#wrapper .grid_3, #wrapper .grid_6, #wrapper .grid_12 {
  -webkit-transform: translate(-3px, -6px);
  -moz-transform: translate(-3px, -6px);
  -o-transform: translate(-3px, -6px);
  transform: translate(-3px, -6px);
  background: #ffedd9;
  background-image: -moz-linear-gradient(top, #ffe8cc, #fff3e5);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffe8cc), to(#fff3e5));
  background-image: -webkit-linear-gradient(top, #ffe8cc, #fff3e5);
  background-image: -o-linear-gradient(top, #ffe8cc, #fff3e5);
  background-image: linear-gradient(top, #ffe8cc, #fff3e5);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffe8cc, endColorstr=#fff3e5)";
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffe8cc, endColorstr=#fff3e5)";
  background-image: -ms-linear-gradient(top, #fff3e5, #fff3e5);
  box-shadow: 1px 1px 0px #ffb966, 1.5px 1.5px 0px #ffbb6b, 2px 2px 0px #ffbd70, 2.5px 2.5px 0px #ffc075, 3px 3px 0px #ffc27a, 3.5px 3.5px 0px #ffc480, 4px 4px 0px #ffc785, 4.5px 4.5px 0px #ffc98a, 5px 5px 0px #ffcc8f, 5.5px 5.5px 0px #ffce94, 6px 6px 0px #ffd099;
  border: none;
  margin-top: 5px;
  margin-bottom: 10px;
}
