//--------------------------------------------------------------------
//
//   ### Background Properties ###
//   <http://www.w3.org/TR/css3-background/#backgrounds>
//
//--------------------------------------------------------------------

//--------------------------------------------------------------------
//
//   #### Background-clip ####
//
//   Determines the background painting area.
//   <http://www.w3.org/TR/css3-background/#background-clip>
//
//   ##### Usage #####
//     
//   * Value  : `<box> [ , <box> ]*`
//   * Default : `border-box`
//   * Example : `.background-clip(padding-box)`
//
//--------------------------------------------------------------------

.background-clip(@property: border-box)
{
	-o-background-clip:@property;
	-webkit-background-clip:@property;
	-khtml-background-clip:@property;
	-moz-background-clip:@property;
	background-clip:@property;
}


//--------------------------------------------------------------------
//    
//   #### Background-size ####
//
//   Specifies the size of the background images.
//   <http://www.w3.org/TR/css3-background/#background-size>
//
//   ##### Usage #####
//     
//   * Value  : `<bg-size> [ , <bg-size> ]*`
//   * Default : `100% auto`
//   * Example : `.background-size(100%, 100%)`
//
//--------------------------------------------------------------------

.background-size(@sizeA: 100%, @sizeB: auto)
{
	-o-background-size:@arguments;
	-webkit-background-size:@arguments;
	-khtml-background-size:@arguments;
	-moz-background-size:@arguments;
	background-size:@arguments;
}
