//
// Easier way to use css transition
//

.transition(@property)
{
	-webkit-transition:@property;
	-moz-transition:@property;
	transition:@property;
}

.transition-property(@property)
{
	-webkit-transition-property:@property;
	-moz-transition-property:@property;
	transition-property:@property;
}

.transition-duration(@property)
{
	-webkit-transition-duration:@property;
	-moz-transition-duration:@property;
	transition-duration:@property;
}

.transition-timing-function(@property)
{
	-webkit-transition-timing-function:@property;
	-moz-transition-timing-function:@property;
	transition-timing-function:@property;
}

.transition-delay(@property)
{
	-webkit-transition-delay:@property;
	-moz-transition-delay:@property;
	transition-delay:@property;
}

