/**
 * This defines the layout. It creates mixins and constants we
 * can use, as well as generating a png to use as a grid overlay
 */
@import '../../lessheady/loader';

.init-reset;
.init-typography;

@column_width: 100px;
@gutter_width: 10px;
@column_count: 6;


body {
	.vertical-gradient(#000000, #3b3b3b);
	padding: 0px 0 40px 0;
	color:#fff;
}

a
{
    color: #ff6600;
    text-decoration: none;

    :hover {
        text-decoration: underline;
    }
}


h2 {
	padding: @gutter_width * 2 0 0;
	text-align: center;
}

nav {
	.centered-list;
	
	li {
		font-size:15px;
		line-height:35px;
		padding:0 10px;
		border-right:1px solid #3b3b3b;
		
		&:last-child {
			border-right:none;
		}
		
		a {
			position:relative;
			top:-3px;
		}
	}
}

#wrapper {
    .container;
    .clearfix;
    margin-bottom: @gutter_width * 2;

    .main {
        .clearfix;
        .vertical-gradient(#dddddd, #ffffff);
        color:#3b3b3b;
        position:relative;
        
        h1 {
            margin-top:20px;
        }
        
        h2 {
            color:#ff6600;
        }
    }
    
	h1, h2, h3, h4, h5 {
		color:#9abcea;
	}

    h1 {
	    font-weight: normal;
	    text-align: center;
	    color:#fff;
	    font-weight:bold;
	    text-transform:uppercase;
	    .ribbon(#ff6600);
    }
    
    img {
    	.pretty_image;
    	.align-left;
    }

    #true,
    #nowlisten {
        .grid(3);
        margin-top:15px;
        font-size:0.9em;
        
        h3 {
            margin-top:0;
        }
    }

    #intro { .grid(6); }

   .grid_12 { .grid(12); }

    .grid_3,
    .grid_6,
    .grid_12 {
        border: none;
        margin-bottom:@gutter_width;
    }
    
    p {
        .fix-text-block;
    	&.btn {
    		text-align:center;
    		a { .action-btn; }
    	}
    }
    
    hr {
        .sexy-line;
    }
}
