.init-typography() {
    /* --------------------------------------------------------------
    
       typography.css
       * Sets up some sensible default typography.
    
    -------------------------------------------------------------- */
    
    /* Default font settings.
       The font-size percentage is of 16px. (0.75 * 16px = 12px) */
    html { font-size:100.01%; }
    body {
      font-size: 75%;
      line-height: 1.5; /*12/18*/
      background: #fff;
      color: #3b3b3b;
      font-family: Arial, Helvetica, sans-serif;
      -webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
    }
    
	/* Selection colours (easy to forget) */
	
	::selection 	 	{background: rgb(255,255,158);}
	::-moz-selection 	{background: rgb(255,255,158);}
	img::selection 		{background: transparent;}
	img::-moz-selection	{background: transparent;}
	body {-webkit-tap-highlight-color: rgb(255,255,158);}
	
    /* Headings
    -------------------------------------------------------------- */
    
    h1,h2,h3,h4,h5,h6 { font: 17px/24px Palatino, Constantia, "Palatino Linotype", serif; font-weight: normal; color: #111111; }

	h1, h2, h3, h4, h5, h6 {
		position: relative;
	}
	
	h1, h2 {
		line-height: 36px; margin-bottom: 18px;
	}
	
	h1, h2, h3, h4 { 
		margin-top: 18px;
		&:first-child { margin-top: 0; }
	}
	
	h3, h4, h5, h6 { line-height: 18px; }
	
	h1 { font-size: 36px; top: 5px; }
	h2 { font-size: 28px; top: 8px; }
	h3 { font-size: 22px; top: 1px; }
	h4 { font-size: 18px; top: 2px; }
	h5 { font-size: 15px; top: 4px; }
	h6 { font-size: 13px; top: 5px; }
	
	p { word-spacing: 0.125em; }

	p, pre, address	{ font-size: 13px; line-height: 18px; position: relative; top: 5px; }
	small { font-size: 11px; }
	abbr, code, kbd, samp, small, var { line-height: 15px; }
	ul, ol, dl, dialog { font-size: 13px; line-height: 18px; position: relative; top: 5px; margin-top: 18px; margin-bottom: 18px; }
	li ul, li ol, ul ul, ol ol { top: 0; margin-top: 0; margin-bottom: 0; }
	li h1, li h2, li h3,
	li h4, li h5, li h6,
	li p { top: 0; }
	form, legend, label	{ font-size: 13px; line-height: 18px; }
	legend { position: relative; top: 5px; }
	table { font-size: 13px; }
	caption	{ font-size: 13px; line-height: 18px; position: relative; }
	hr { position: relative; height: 4px; margin: 18px 0 14px 0; }
}



// 
// These can be used to pull an image at the start of a paragraph, so 
// that the text flows around it 
// 
.align-left()	{
	float: left;
	margin: 5px 20px 15px 0;
}
.align-right()	{
	float: left;
	margin: 5px 0 15px 20px;
	
	&:first-child {
		margin-top:0;
	}
}

.pretty_image(@size: 1) {
	background-color:#fff;
	padding:@size * 5px;
	border:1px solid #ddd;
}
    
// Misc classes

.quiet()      { color: #666; }
.loud()       { color: #3b3b3b; }
.highlight()  { background:#ff0; }
.added()      { background:#060; color: #fff; }
.removed()    { background:#900; color: #fff; }